/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: #1E1E1E;
}
.box-container {
  position: relative;
  width: 100%;
  
}
.box-container2 {
  position: relative;
  width: 90%;
  display: flex;
  top: -45px;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto;
}
  

.img-div {
  width: 90%;
  top: -56px;
  left: 85px;
  position: relative;
  margin: 0 auto;
  height: 55vh;
  
}
.img-div2 {
  width: 100%;
  top: -85px;
  left: 35px;
  position: relative;
  margin: 0 auto;
  height: 46vh;
  
}

.text-overlay2 {
  position: absolute;
  top: 35%;
  left: 62%;
  width: 30%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.5rem;
  padding-left: 45px;
  font-weight: 600;
  border-left: 5px solid white;
  line-height: 147%;
  letter-spacing: 1px;
}
.text-overlay {
  position: absolute;
  top: 44%;
  left: 45%;
  width: 60%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 70px;
  font-weight: 600;
}