@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.homeMainDiv{
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow-y: hidden;
}

.boxContainer {
  position: relative;
  width: 93%;
  height: 55vh;
  margin: 0 auto;
  /* margin-top: -60px; */
  margin-top: -7vh;
}

.imgdiv {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.textOverlay { 
  position: absolute;
  top: 32vh;
  left: 50%;
  width: 79%;
  transform: translate(-50%, -50%);
  font-family: "Actay", sans-serif;
  font-size: 5vw;
  color: white;
}

.starimg {
  height: auto;
  width: 5vw;
  margin: 2px;
  animation: zoomInOut 3s infinite;
}

.boxContainer2 {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 93%;
  height: 32vh;
  margin: 0 auto;
  margin-top: 1.5vh;
}

.tokenBox {
  width: 29%;
  height: 33.5vh;
  background-color: #e9e002;
  border-radius: 30px;
  display: flex;
  justify-content: flex-end;
}

.tokenImg {
  height: auto;
  width: 22vw;
  padding-top: 20px;
}

.secdiv {
  width: 70%;
  height: 44vh;
  margin-top: -10.5vh;
}

.redimg {
  width: 100%;
  height: 100%;
}

.imgdiv2 {
  width: 100%;
  height: 100%;
  position: relative;
}

.textOverlay2 {
  position: absolute;
  top: 13vh;
  left: 58%;
  width: 30%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.5vw;
  padding-left: 4vw;
  border-left: 5px solid white;
  line-height: 147%;
  letter-spacing: 1px;
}

.sec2Img {
  position: absolute;
  height: 40vh;
  width: 16.5%;
  top: 53vh;
  right: 0;
}

.flower {
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0;
}

.footer {
  color: #FFFFFF;
  text-align: center; 
  margin: auto 45px 15px;
}

/* @media screen and ( min-width:2200px){
  .boxContainer {
    position: relative;
    width: 93%;
    height: 55vh;
    margin: 0 auto;
    /* margin-top: -120px; 
  }
} */
@media screen and ( max-width: 1000px){
  .sec2Img{
    top: 50vh;
  }
}

@media only screen and (max-width: 426px){
  .boxContainer {
    height: 35vh;
    margin-top: -5vh;
  }
  
  .textOverlay { 
    top: 20vh;
    line-height: 4vh;
  }
  
  .boxContainer2 {
    flex-direction: column-reverse;
    margin: 0 auto;
    height: max-content;
    margin-top: 0;
    width: 93%;
  }

  .secdiv {
    width: 100%;
    height: 28vh;
    margin-top: 0;
  }
  
  .redimg {
    float: right;
    width: 68%;
    height: 100%;
    margin-top: -4.7vh;
  }
  
  .imgdiv2 {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .tokenBox {
    width: 100%;
    height: 29vh;
    border-radius: 10px;
    margin-top: -3.2vh;
  }
  
  .tokenImg {
    height: auto;
    width: 55vw;
  }
  
  .textOverlay2 {
    top: 12vh;
    left: 65%;
    width: 50%;
    font-size: 2.3vw;
  }
  
  .sec2Img {
    position: absolute;
    height: 33vh;
    width: 25%;
    top: 32vh;
    left: 3.8%;
    float: left;
    transform: rotate(180deg);
  }
  
  .footer {
    font-size: 2vw ;
  }
  
}