.divtoflexlogoconnectwallet {
    display: flex;
    justify-content: space-between;
    margin: 0px 130px;
    align-items: center;
    color: white;
    position: relative;
    z-index: 2;
  }
  
  .smartlogportal {
    width: 250px;
    height: auto;
  }
  #changeMode {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: 10px;
  }
  .connectwalletbuttondiv {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .navBtn{
    background-color: #E9E002;
    color: #191918;
    padding: 15px 40px;
    border-radius: 50px;
    font-size: 15px;
    border: none;
  }

  @media only screen and (max-width: 1024px) {
    .divtoflexlogoconnecwallet img {
      width: 250px;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .divtoflexlogoconnectwallet {
      margin: 0px !important;
    }
    .smartlogportal {
      height: auto;
      width: 255px;
    }
  
    .connectwallet {
      padding: 7px 27px;
      font-size: 10px;
    }
  
    .connectwalletbuttondiv {
      font-size: 12px;
      padding: 11px 4px;
    }
    #changeMode {
      margin-left: 1rem;
    }
  
    .connectwalletbuttondiv {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }
  @media only screen and (max-width: 425px) {
    .footerouterdiv {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
    }
    .disconnect {
      width: 150px;
    }
    .disconnect span {
      font-size: 12px !important;
    }
    .dropdown {
      width: 150px !important;
    }
    .dropdown span {
      font-size: 12px !important;
    }
    .disconnect-main {
      position: absolute;
      top: 50px;
      right: 58px;
      padding: 30px 0px;
      width: 200px;
    }
    .divtoflexlogoconnectwallet {
      display: flex;
      margin: 0 !important;
      justify-content: space-around;
    }
  
    .smartlogportal {
      height: auto;
      width: 180px;
    }
    #changeMode {
      margin-left: 7px;
      height: 25px;
      width: 25px;
    }
    .connectwallet {
      padding: 12px 27px;
      font-size: 10px;
    }
  }
  @media only screen and (max-width: 375px) {
    .smartlogportal {
      height: 60px !important;
      width: 127px !important;
    }
    #changeMode {
      width: 20px;
      height: 30px;
      cursor: pointer;
      margin-left: 1rem;
    }
  }