.divtoflexlogoconnectwallet {
    display: flex;
    justify-content: space-between;
    color: white;
    position: relative;
    z-index: 2;
  }

.logoimg{
  width: 50%;
}  

.smartlogportal {
    width: auto;
    float: left;
    height: 48px;
    margin-top: 38px;
    margin-left: 15%;
  }

#changeMode {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: 10px;
  }

.connectwalletbuttondiv {
    width: 50%;
  }

.navBtn{
    background-color: #E9E002;
    color: #191918;
    width: max-content;
    padding: 13px 30px;
    border-radius: 45px;
    font-size: 15px;
    border: none;
    float: right;
    margin-top: 49px;
    margin-right: 20%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }

@media only screen and (max-width: 1135px) and (min-width: 1024px){
  .navBtn{
    margin-right: 17%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 870px){
  .navBtn{
    margin-right: 17%;
    padding: 13px 25px;
  }
}

@media only screen and (max-width: 870px) and (min-width: 768px){
  .navBtn{
    margin-right: 14%;
    padding: 11px 20px;
  }
}

@media only screen and (max-width: 768px) and (min-width: 650px){
  .navBtn{
    margin-right: 12%;
    padding: 11px 20px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 650px) and (min-width: 580px){
  .navBtn{
    margin-right: 13%;
    padding: 11px 18px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 580px) and (min-width: 426px){
  .smartlogportal {
    height: 35px;
    margin-top: 20px;
  }

  .navBtn{
    margin-right: 15%;
    padding: 9px 16px;
    font-size: 10px;
    border-radius: 35px;
    margin-top: 20px;
   }

  @media only screen and (max-width: 520px) and (min-width: 465px){
    .navBtn{
      margin-right: 12%;
     }
    }

  @media only screen and (max-width: 465px) and (min-width: 426px){
      .navBtn{
        margin-right: 12%;
        padding: 9px 13px;
        font-size: 9px;
        border-radius: 33px;
       }
      }

}

@media only screen and (max-width: 426px) and (min-width: 376px){
  .smartlogportal {
    height: 32px;
    margin-top: 8px;
  }

  .navBtn {
    margin-right: 10%;
    padding: 9px 16px;
    font-size: 8px;
    border-radius: 35px;
    margin-top: 8px;
  }

}

@media only screen and (max-width: 376px) {
  .smartlogportal {
    height: 25px;
    margin-top: 6px
  }

  .navBtn {
    margin-right: 13%;
    padding: 9px 12px;
    font-size: 7px;
    border-radius: 30px;
    margin-top: 8px;
  }

  @media only screen and (max-width: 350px){
    .navBtn{
      padding: 8px 10px;
      font-size: 6px;
    }
  }
}
