.divtoflexlogoconnectwallet {
    display: flex;
    justify-content: space-between;
    margin: 20px 10%;
    color: white;
    position: relative;
    z-index: 2;
    align-items: center;
    position: relative;
    top: 30px;
  }
  .smartlogportal {
    width: auto;
    float: left;
    height: 48px;
  }
  
  #changeMode {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  .navBtn {
    background-color: #e9e002;
    color: #191918;
    width: max-content;
    padding: 13px 30px;
    border-radius: 45px;
    font-size: 15px;
    border: none;
    margin-right: 30px;
    font-family: "__Poppins_45434c";
    float: right;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  /* @media only screen and (min-width : 1441px) {
    .divtoflexlogoconnectwallet{
      margin-bottom: 0;
    }
    .smartlogportal{
      height: 90px;
      margin-top: 10px;
    }
  
    .navBtn{
      padding: 15px 50px;
      font-size: 25px;
      margin-top: 10px;
    }
  } */
  
  @media only screen and (max-width: 1135px) and (min-width: 870px) {
    .navBtn {
      margin-right: 0;
    }
    .divtoflexlogoconnectwallet {
      top: 20;
    }
  }
  
  @media only screen and (max-width: 1024px) and (min-width: 870px) {
    .navBtn {
      margin-right: 0;
      padding: 13px 25px;
    }
  }
  
  @media only screen and (max-width: 870px) and (min-width: 768px) {
    .navBtn {
      margin-right: -6px;
      padding: 11px 20px;
    }
  }
  
  @media only screen and (max-width: 768px) and (min-width: 690px) {
    .navBtn {
      margin-right: -6px;
      padding: 11px 20px;
      font-size: 13px;
    }
  }
  
  
  @media only screen and (max-width: 690px) and (min-width: 650px) {
    .navBtn {
      margin-right: -15px;
      padding: 10px 17px;
      font-size: 12px;
    }
  }
  
  @media only screen and (max-width: 650px) and (min-width: 580px) {
    .navBtn {
      margin-right: -10px;
      padding: 11px 18px;
      font-size: 12px;
    }
  }
  
  @media only screen and (max-width: 580px) and (min-width: 426px) {
    .divtoflexlogoconnectwallet {
      margin: 0 5%;
    }
    
    .smartlogportal {
      margin-top: -10px;
      height: 35px;
    }
  
    .navBtn {
      margin-top: -10px;
      margin-right: 0;
      padding: 9px 20px;
      font-size: 12px;
      border-radius: 35px;
    }
  
    @media only screen and (max-width: 566px) and (min-width: 465px) {
      .navBtn {
        padding: 9px 16px;
        font-size: 11px;
        border-radius: 33px;
      }
    }
  
    @media only screen and (max-width: 465px) and (min-width: 426px) {
      .navBtn {
        padding: 9px 13px;
        font-size: 9px;
        border-radius: 33px;
      }
    }
  }
  
  @media only screen and (max-width: 426px) and (min-width: 376px) {
    .divtoflexlogoconnectwallet {
      margin: 0 5%;
    }
  
    .smartlogportal {
      margin-top: -10px;
      margin-bottom: 10px;
      height: 32px;
    }
  
    .navBtn {
      margin-top: -10px;
      margin-right: 0;
      padding: 9px 13px;
      font-size: 9px;
      border-radius: 33px;
    }
  }
  
  @media only screen and (max-width: 376px) {
    .divtoflexlogoconnectwallet {
      margin: 0 5%;
    }
  
    .smartlogportal {
      margin-top: -10px;
      margin-bottom: 10px;
      height: 32px;
    }
  
    .navBtn {
      margin-top: -10px;
      margin-right: 0;
      padding: 8px 10px;
      font-size: 7px;
      border-radius: 33px;
    }
  }
  